@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";
@config "./tailwind.config.js";

@theme {
  --font-sans: "Noto Sans", ui-sans-serif, system-ui, sans-serif, "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-serif: "Noto Serif", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: "Noto Sans Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* https://en.wikipedia.org/wiki/Mikado_yellow */
  --color-mikado-50:  oklch(0.9734 0.0248 81.13);
  --color-mikado-100: oklch(0.9486 0.0547 85.07);
  --color-mikado-200: oklch(0.9135 0.1020 87.79);
  --color-mikado-300: oklch(0.8784 0.1490 88.60);
  --color-mikado-400: oklch(0.8550 0.1694 88.90);
  --color-mikado-500: oklch(0.7809 0.1596 87.99);
  --color-mikado-600: oklch(0.6730 0.1376 91.64);
  --color-mikado-700: oklch(0.5532 0.1127 93.24);
  --color-mikado-800: oklch(0.4718 0.0937 94.88);
  --color-mikado-900: oklch(0.4247 0.0818 97.11);
  --color-mikado-950: oklch(0.2199 0.0460 101.82);
}

@layer base {
  input, textarea {
    @apply rounded-none
  }
}
