@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";
@config "tailwind.config.js";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* fonts */
  --font-sans:
    "Noto Sans", ui-sans-serif, system-ui, sans-serif, "Noto Color Emoji", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  --font-serif: "Noto Serif", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono:
    "Noto Sans Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --color-focus-color: var(--color-mikado-300);
  /* https://en.wikipedia.org/wiki/Mikado_yellow */
  --color-mikado-50: oklch(0.975 0.025 88);
  --color-mikado-100: oklch(0.945 0.055 88);
  --color-mikado-200: oklch(0.905 0.105 88);
  --color-mikado-300: oklch(0.865 0.145 88);
  --color-mikado-400: oklch(0.825 0.165 88);
  --color-mikado-500: oklch(0.78 0.16 88); /* base */
  --color-mikado-600: oklch(0.68 0.14 88);
  --color-mikado-700: oklch(0.56 0.115 88);
  --color-mikado-800: oklch(0.46 0.095 88);
  --color-mikado-900: oklch(0.38 0.08 88);
  --color-mikado-950: oklch(0.22 0.045 88);
}

@layer base {
  h1 {
    @apply text-4xl leading-snug font-semibold md:text-5xl;
  }
  h2 {
    @apply text-2xl leading-snug font-semibold md:text-3xl;
  }
  h3 {
    @apply text-xl leading-snug font-medium md:text-2xl;
  }
  h4 {
    @apply text-base leading-snug font-medium md:text-lg;
  }
}

@layer utilities {
  input,
  textarea {
    @apply text-mikado-900 hover:text-mikado-950 focus:ring-mikado-500 border-mikado-500 focus:bg-mikado-100/25 dark:text-mikado-50 dark:hover:text-mikado-50 dark:focus:text-mikado-50 dark:placeholder:text-mikado-50 rounded-none border-b bg-transparent dark:focus:bg-transparent;
  }
  .contain {
    @apply max-w-3xl;
  }
  .typography {
    @apply prose prose-mikado md:prose-lg dark:prose-invert prose-a:hover:no-underline prose-h1:font-semibold prose-h2:font-semibold prose-h3:font-medium prose-figcaption:text-center max-w-none;

    & > *:where(p, h1, h2, h3, h4, a, li, dt, dd, blockquote) {
      @apply max-w-[75ch];
    }
  }
}
