---
import { Icon } from "astro-icon/components";
import Base from "~/layouts/Base.astro";
---

<Base
  title="Contact"
  description="Morbi tristique senectus et netus. Id semper risus in hendrerit gravida rutrum quisque non tellus."
  loadingOptions={{
    loadTurnstile: true,
  }}
>
  <section class="grid max-w-3xl grid-cols-1 gap-8">
    <h1 class="text-2xl font-semibold md:text-4xl">Leave a message</h1>

    <form id="form" method="POST" data-form class="grid w-full grid-cols-1 gap-2 md:grid-cols-2">
      <input type="hidden" name="access_key" value="d46263ac-da24-498f-b856-bfeaf078a85c" />
      <input type="hidden" name="captcha" value="turnstile" />
      <input type="text" name="website" class="hidden" tabindex="-1" autocomplete="off" />

      <div class="flex flex-col gap-2">
        <label for="name">Name</label>
        <input id="name" type="text" name="name" required />
      </div>

      <div class="flex flex-col gap-2">
        <label for="email">Email</label>
        <input id="email" type="email" name="email" required />
      </div>

      <div class="flex flex-col gap-2 md:col-span-2">
        <label for="subject">Subject</label>
        <input id="subject" type="text" name="subject" required />
      </div>

      <div class="flex flex-col gap-2 md:col-span-2">
        <label for="message">Message</label>
        <textarea id="message" name="message" required class="min-h-40"></textarea>
      </div>

      <div class="cf-turnstile mt-4 min-h-18 md:col-span-2" data-sitekey="0x4AAAAAABhqUtSMp27iLYrQ">
      </div>

      <div class="flex md:col-span-2">
        <button
          type="submit"
          class="group/btn hover:border-mikado-950 focus-visible:bg-mikado-300 hover:text-mikado-950 flex w-fit cursor-pointer items-center justify-center gap-2 border-b border-transparent p-1 font-medium transition-all duration-300 focus:border-b-2 focus-visible:border-b-2 focus-visible:border-black focus-visible:text-black"
        >
          <span class="font-medium">Submit</span>
          <Icon name="ri:arrow-right-line" height={26} width={26} class="w-8" />
        </button>
      </div>

      <div id="feedback" class="col-span-2" role="alert" aria-live="polite" aria-atomic="true">
      </div>
    </form>
  </section>
</Base>

<script>
  // eslint-disable-next-line @typescript-eslint/ban-ts-comment
  // @ts-nocheck
  function initContactForm() {
    const form = document.getElementById("form");
    const feedback = document.getElementById("feedback");

    if (!form || !feedback) return;

    form.addEventListener("submit", function (e) {
      const formData = new FormData(form);
      e.preventDefault();

      const object = Object.fromEntries(formData);
      const json = JSON.stringify(object);

      feedback.innerHTML = "Please wait...";

      fetch("https://api.web3forms.com/submit", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          Accept: "application/json",
        },
        body: json,
      })
        .then(async (response) => {
          const json = await response.json();
          if (response.status == 200) {
            feedback.innerHTML = json.message;
          } else {
            console.log(response);
            feedback.innerHTML = json.message;
          }
        })
        .catch((error) => {
          console.log(error);
          feedback.innerHTML = "Something went wrong!";
        })
        .then(function () {
          form.reset();
          setTimeout(() => {
            feedback.style.display = "none";
          }, 3000);
        });
    });
  }
  document.addEventListener("DOMContentLoaded", initContactForm);
</script>
