---
import type { HTMLAttributes } from "astro/types";
import Button from "~/components/ui/Button.astro";
import SocialLinks from "~/components/ui/SocialLinks.astro";
---

<footer
  class="border-mikado-500 mt-4 mb-8 flex flex-col items-center justify-end gap-2 border-t pt-4 md:mt-0 md:items-end md:gap-y-4 md:border-t-0 md:border-r md:pt-0 md:pr-8 md:pb-4"
>
  <nav class="flex text-sm" aria-label="footer navigation">
    <ul class="inline-flex gap-4">
      <li>
        <Button
          label="Contact"
          href={`${Astro.site}contact`}
          {...{ "data-astro-reload": true } as HTMLAttributes<"a">}
        />
      </li>
      <li>
        <Button label="Sitemap" href={`${Astro.site}sitemap-0.xml`} />
      </li>
    </ul>
  </nav>

  <SocialLinks />
</footer>
