---
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components';
import HeaderNavigation from '~/components/partials/HeaderNavigation.astro';
---

<header id="site-header" class="max-h-full md:h-[calc(100%-2rem)] grid grid-cols-[1fr_auto] md:grid-cols-1 gap-y-4 content-start md:place-self-end p-4 md:pr-8 md:mt-8 border-r border-mikado-500 overflow-y-auto">

  <a class="group/logo inline-flex items-center gap-3 p-1 border-b-2 border-transparent focus-visible:border-black focus-visible:bg-mikado-300 transition duration-500" href={Astro.site} aria-label="link to homepage">
    <Image src="/favicon.svg" alt="" format="svg" width={32} height={32} loading="eager" />
    <span class="font-medium text-xl leading-none py-1 border-b border-transparent group-hover/logo:border-mikado-900 group-focus/logo:border-b-2 group-focus-visible/logo:text-black transition duration-500">karl's blog</span>
  </a>

  <button
    class="place-self-end p-2 md:hidden"
    aria-label="toggle mobile site navigation"
    id="nav-toggle-btn"
    aria-expanded="false"
    aria-controls="site-nav"
  >
    <Icon name="ri:menu-line" height={28} width={28} id="nav-open-btn" />
    <Icon name="ri:close-line" height={28} width={28} id="nav-close-btn" class="hidden" />
  </button>

  <HeaderNavigation />

</header>
