---
import { Icon } from 'astro-icon/components';

// TODO: needs fixing for desktop
---

<div id="scroll-to-top" class="fixed bottom-5 left-5 md:bottom-2 md:left-6 z-45 w-16 hidden opacity-0 pointer-events-none transition duration-300">
  <button
    title="scroll to top"
    aria-label="scroll to top"
    id="scroll-to-top-btn"
    type="button"
    class="flex items-center p-4 w-full bg-mikado-500/75 hover:bg-mikado-500 hover:text-mikado-950 hover:shadow-sm focus:bg-mikado-300 focus:text-black focus:border-black cursor-pointer transition duration-300"
  >
    <Icon name="ri:arrow-up-line" height={32} width={32} />
  </button>
</div>

<script>
  // @ts-nocheck
  function initScrollToTop() {
    const buttonContainer = document.getElementById('scroll-to-top');
    const button = document.getElementById('scroll-to-top-btn');

    function updateScroll() {
      const scrollPosition = window.scrollY;
      if (scrollPosition > (2 * window.innerHeight)) {
        buttonContainer?.classList.remove('opacity-0', 'hidden', 'pointer-events-none');
      } else {
        buttonContainer?.classList.add('opacity-0', 'hidden', 'pointer-events-none');
      }
    }

    updateScroll();

    window.addEventListener('scroll', updateScroll);

    button?.addEventListener('click', () => {
      window.scrollTo({ top: 0, behavior: 'smooth' });
    });
  };
  document.addEventListener('DOMContentLoaded', initScrollToTop);
  document.addEventListener('astro:after-swap', initScrollToTop);
</script>
